/* ===============================
    LESS VARIABLES
   =============================== */

// RESPONSIVE
@phone: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 992px)";

// COLORS
@colorNavy: #34495E;
@colorOrange: #e67d25;