<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h3 class="white-text">Footer Title</h3>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Footer Title</h3>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Footer Title</h3>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright Project Title
      </div>
    </div>
  </footer>
</template>
