@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

// HOME PAGE
.home {
  .headline {
    text-align: center;
  }

  .sub-head {
    margin-left: 60px;
    margin-bottom: 40px;
  }

  .vertical-center {
    margin-top: 80px;
  }

  .disclaimer {
    width: 400px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 196px;
  }
}
