<header>
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-admin-brand">
          <a href="http://github.differential.io">
            <img src="{{ site.baseurl}}/images/logo-sq-orange-web.png">
            OPEN SOURCE 
          </a>
        </div>
      </div>
      <ul class="nav navbar-nav pull-right hidden-xs">
        <li><a href="http://differential.io">Learn about Differential</a></li>
      </ul>
    </div>
  </div>
</header>

<section class="billboard">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ page.repo }}</h1>
        <p class="lead">{{ page.desc }}</p>
        <div class="version">{{ page.version }}</div>
        <a href="http://github.com/{{ page.username }}/{{ page.repo }}" class="bttn bttnBlue"><i class="icon-github"></i> View on Github</a>

        <a href="https://github.com/{{ page.username }}/{{ page.repo }}/archive/master.zip" class="bttn bttnOrange"><i class="icon-download"></i> Download Zip {% if page.version %}({{ page.version }}){% endif %}</a>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <h3>Contributors</h3>
        <ul class="contributors"></ul>
      </div>
    </div>
  </div>
</section>
