<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="layout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{> yield region="header"}}
  {{> yield}}
  {{> yield region="footer"}}
</template>
