@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

// DASHBOARD
.dashboard {
  .bg-head {
    text-align: center;
  }

  .bg-circle {
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #b5121b;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
    padding-top: 56px;
    font-size: 70px;
  }

  .bg-innercircle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: #fff;
    color: #b5121b;
    position: relative;
    top: -45px;
    left: -10px;
    padding-top: 48px;
  }
}